<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
      defer
    />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>

    <title>Document</title>
    <style>
      .vediogrid__main {
        height: 100vh;
        display: grid;
        place-items: center;
        padding: 100px 0;
      }
      #video-grid {
        width: 100%;
        display: grid;
        grid-gap: 14px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(2, minmax(250px, 1fr));
      }
      video {
        padding: 5px;
        max-width: 100%;
        min-height: 250px;
        height: auto;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      ul li {
        list-style: none;
        padding: 10px;
      }
      a {
        text-decoration: none;
        padding: 13px;
      }
      .fas:hover {
        cursor: pointer;
        color: rgb(230, 64, 64);
      }
      .fas:active {
        color: red;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    </style>
  </head>
  <body class="bg-gray-300 h-screen">
    <ul
      class="sticky top-0 z-50 flex justify-start bg-blue-400 h-16 items-center"
    >
      <li class="text-white font-semibold">
        <a href="">HOME</a>
      </li>
      <li class="text-white font-semibold">
        <a href="/">CONNECT</a>
      </li>

      <div class="controls flex justify-end">
        <div class="controls_block flex text-white font-semibold px-3">
          <div
            onclick="muteAndUnmute()"
            class="main__controls__button main__mute_button px-6"
          >
            <i class="fas fa-microphone"></i>
            <!-- <span>Mute</span> -->
          </div>
          <div
            onclick="playAndStop()"
            class="main__controls__button main__video_button"
          >
            <i class="fas fa-video"></i>
            <!-- <span>Stop Video</span> -->
          </div>
        </div>
      </div>
      <a href="/login">
        <i
          class="
            fa fa-user
            text-white
            active:text-gray-200
            hover:text-gray-300
            ml-3
            flex
            cursor-pointer
          "
        >
        </i>
      </a>
    </ul>

    <div class="vediogrid__main">
      <div id="video-grid"></div>
    </div>
  </body>
</html>
